{% extends "reviews/base.html" %}
{% load reviews_tags %}
{% block content %}	

	<div class="col-md-10 mx-auto">
          <div class="card mb-4 mt-3">
            <div class="card-body">
              <span style="font-size: 20pt;">Are you sure that you want to delete the product listing for <strong>{{object.product_name}}</strong></span>
              </br>
              <form method = "post">
              {% csrf_token %}
              <input class="btn btn-outline-danger" type="submit" value="Delete Post">
              </form>
            </div>
          </div>
    </div>  

{% endblock %}    