{% extends "reviews/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

  <div class="row mt-2 mx-auto">
      <!-- software categories Column -->
      <div class="col-md-6">

    <div class="card mb-1 mt-1 border-secondary" style="height:20rem">
        <div class="card-header text-center text-white bg-dark">
            <strong style="font-size: 15pt">User Information</strong>
        </div>  
        <div class="card-body text-center">
        </br>
          <form method ="POST">
            {% csrf_token %}
            {{profile_form.as_p}}
            <div class = "mx-auto text-center">
              <button type="submit" name="profile_submit" class="btn btn-primary text-center mt-1">Update User Information</button>
            </div>
          </form>
        </div>
    </div>  

        <!-- software categories -->
      </div>  

       <!-- Sidebar Widgets Column -->
      <div class="col-md-6">

        <div class="card mb-1 mt-1 mx-auto border-secondary" style="height:20rem">
            <div class="card-header text-center text-white bg-dark">
                <strong style="font-size: 15pt">Company Information</strong>
            </div>  
            <div class="card-body text-center">
              <form method ="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <strong>Company Name: </strong>
                <p>{{company_form.company_name}}</p>
                <strong>Company Logo: </strong>
                {{company_form.company_logo}}
                <img class="mr-3 article-img mb-2" src="{{ user.company.company_logo.url }}" height="75px" width="75px"> 
                <div class = "mx-auto text-center">
                  <button type="submit" name="company_submit" class="btn btn-primary text-center mt-1">Update Company Information</button>
                </div>
              </form>
            </div>
        </div>  

      </div>  

  <!-- Closing row -->
  </div> 



   <div class="row mt-2 mx-auto">
    <div class="col-md-12">
        <div class="card mb-1 mt-1 mx-auto border-secondary">
            <div class="card-header text-center text-white bg-dark">
                <strong style="font-size: 15pt">Account Activity</strong>
            </div>  
            <div class="card-body text-center" style="font-size: 13pt">
              <span class="mr-4"><strong>Number of Reviews: </strong> {{user.reviews_set.count}} </span>
              <span class="ml-4"><strong>Number of Products Listed: </strong> {{user.softwareproduct_set.count}} </span>
            </div>
        </div>  
     </div>   
    <!-- Closing row -->
   </div> 



  <div class="row mt-2 mx-auto">
    
    <div class="col-md-12">
      <div class="card mb-1 mt-1" style="">
          <div class="card-header text-white bg-dark">
              <span><strong style="font-size: 15pt">My Products Listed:</strong>
              <a href="{% url 'list_product' %}"><button type="button" class="btn btn-primary btn-sm float-right">Create Product Listing</button></a></span>
          </div>  
          <div class="card-body">
            {% for product in user.softwareproduct_set.all %}
            <li class="list-group-item my-2 border-secondary">
              <p><strong>Product Name: </strong> {{product.product_name}}</p>
              <p><strong>Product Description: </strong> {{product.product_description|linebreaks}}</p>
              <p><strong>Pricing Details: </strong> {{product.pricing_details|linebreaks}}</p>
              <p><strong>Free Trial Offered?: </strong> {{product.free_trial_offered}}</p>
              <p><strong>Product Website: </strong> {{product.product_website}}</p>
              {% for category in product.category.all %}
                <p><strong>Category: </strong> {{category.category_name}}</p>
              {% endfor %}
              <a href="{% url 'product-view' product.pk %}"><button type="button" class="btn btn-outline-primary btn-sm mr-2">View Listing</button></a>
              <a href="{% url 'update_listing' product.pk %}"><button type="button" class="btn btn-outline-secondary btn-sm mr-2">Update</button></a>
              <a href="{% url 'delete_listing' product.pk %}"><button type="button" class="btn btn-outline-danger btn-sm mr-2">Delete</button></a>
            </li>  
            {% endfor %}

          </div>
      </div>  

    </div>

  </div>   







{% endblock %}