{% extends "reviews/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="card mb-3 mt-3 mx-auto" style="width: 30rem;">
        <div class="card-header text-center text-white bg-dark">
            <strong>Register an Account</strong>
        </div>  
        <div class="card-body text-center">
          <form method ="POST">
            {% csrf_token %}

              <div class="form-row">
                <div class="col">
                  {{form.username|as_crispy_field}}
                </div>
                <div class="col">
                  {{form.email|as_crispy_field}}
                </div>
              </div>

              <div class="form-row mt-4">
                <div class="col">
                  {{form.password1|as_crispy_field}}
                </div>
                <div class="col">
                  {{form.password2|as_crispy_field}}
                </div>
              </div>

            
            <div class = "mx-auto text-center">
              <button type="submit" class="btn btn-dark text-center mt-4">Create Account</button>
            </div>
          </form>
        </div>
    </div>  

{% endblock %}